<div class="circle-button">
  <button type="button" class="btn btn-primary" (click)="openModal()">
    <i class="bi bi-plus"></i>Add Students
  </button>
</div>

<div class="modal" tabindex="-1" role="dialog" id="mUC">
  <div class="modal-dialog centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between align-items-start">
        <h2 class="modal-title">Aggiungi studente/i</h2>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="selectedOption === 'new'">
          <div class="form-group">
            <label for="className">nome studente</label>
            <br>
            <input type="text" class="form-control" id="className" [(ngModel)]="studente.name">
            <br>
            <label for="className">cognome studente</label>
            <br>
            <input type="text" class="form-control" id="className" [(ngModel)]="studente.surname">
            <br>
            <label for="className">data nascita dello studente</label>
            <br>
            <input type="text" class="form-control" id="className" [(ngModel)]="studente.birthDate">
            <br>
          </div>
        </div>
        <div *ngIf="selectedOption === 'existing'">
          <div *ngIf="items.length!=0">
            <div class="search-form">
              <form class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control"  [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" placeholder="Cerca" (input)="performSearch()" />
                </div>
              </form>
            </div>
            <div class="table-container">
            <table class="table student-table">
              <thead>
                <tr>
                  <th></th>
                  <th>Nome</th>
                  <th>Cognome</th>
                  <th>Data di nascita</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of filteredArray">
                  <td>
                    <input type="checkbox" [(ngModel)]="item.selected" (change)="toggleStudentSelection(item)" style="width:30px">
                  </td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.surname }}</td>
                  <td>{{ item.birthDate }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
          <div *ngIf="items.length==0">
            <p class="no-studenti">non sono presenti studenti non associati a nessuna classe</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="ins" (click)="cambiaOpzione()" style=" width:200px;">{{testo}}</button>
        <button type="button" class="btn btn-primary" (click)="saveClass()">Salva</button>
      </div>
    </div>
  </div>
</div>

