<h1>TUTTE LE CLASSI</h1>

<div class="search-form d-flex mb-4">
  <form class="form-inline row w-100">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
      <input type="text" class="form-control" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" placeholder="Cerca" (input)="performSearch()" />
    </div>


    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="input-row">

      </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
      <div *ngIf="selectedClasses.length > 0" >
        <app-input-elimina-classe (buttonClick)="clickModificaa(null)"></app-input-elimina-classe>
      </div>
    </div>


    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="input-row">
        <app-input-crea-classe (buttonClick)="modalChiuso()"></app-input-crea-classe>
      </div>
    </div>

  </form>
</div>

<div class="mat-elevation-z8 ">
  <div class="table-container">
  <table class="table table-striped">
    <thead >
      <tr>
        <th scope="col" class="checkbox-header align-items-center">
          <label>
            <div class="d-flex align-items-center">
              <input type="checkbox" [(ngModel)]="isSelected"  (click)="gestisciSelezioneTutti()">
            </div>
          </label>
        </th>
        <th scope="col">
          <span>Classe<i [class]="ord" (click)="ordina()"></i></span>
        </th>
        <th scope="col">

        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let classe of classi; let i = index">
        <td class="checkbox-cell">
          <label>
            <div class="d-flex align-items-center" (click)="visualizza(classe, i)">
              <input type="checkbox" [(ngModel)]="classe.selected" (click)="$event.stopPropagation()" (change)="toggleSelected(classe)">
            </div>
          </label>
        </td>
        <td>
          <label>
            <div class="d-flex align-items-center" (click)="visualizza(classe, i)">
              <span>{{ classe.name }}</span>
            </div>
          </label>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <label>
            <div class="d-flex">
              <div class="ml-auto">
                <app-input-update-classi (buttonClick)="clickModifica(classe)"></app-input-update-classi>
              </div>
            </div>
          </label>
          <label>
            <div class="d-flex">
              <div class="ml-auto">
                <app-input-elimina-classe (buttonClick)="clickModificaa(classe)"></app-input-elimina-classe>
              </div>
            </div>
          </label>
        </td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>

  </div>
  <mat-paginator [length]="filteredArray.length" [pageSizeOptions]="[5, 10]" showFirstLastButtons aria-label="Select page of periodic elements" (page)="onPageChange($event)"></mat-paginator>
</div>

<div *ngIf="isClasse">
  <app-classe></app-classe>
</div>


<!-- Modal -->
<div class="modal" id="uS" tabindex="-1" role="dialog">
  <div class="modal-dialog centered" role="document">
    <div class="modal-content">
      <div class="modal-header  d-flex justify-content-between align-items-start">
        <h2 class="modal-title">Aggiorna i dati di una classe</h2><button type="button" class="close" (click)="closeModalee()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="classeSelezionata">
          <h3>{{ classeSelezionata.name }}</h3>
          <!-- Altri elementi del template -->
        </div>

        <div class="form-group">
          <label for="className">nome classe aggiornato</label>
          <br>
          <input type="text" class="form-control" id="className" [(ngModel)]="classeB.name" >
          <br>
          <br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveClass()">Salva</button>
      </div>
    </div>
  </div>
</div>






<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="d">
  <div class="modal-dialog centered" role="document">
    <div class="modal-content">
      <div class="modal-header  d-flex justify-content-between align-items-start">
        <h2 class="modal-title">Elimina classe/classi</h2><button type="button" class="close" (click)="closeModale()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="search-form">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control"  [(ngModel)]="searchQueryy" [ngModelOptions]="{standalone: true}" placeholder="Cerca" (input)="performSearchh()" />
            </div>
          </form>
        </div>
        <div class="table-container">
        <table class="table student-table">
          <thead>
            <tr>

              <th>Nome</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let classe of filteredArrayy">
              <td>{{ classe.name }}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-danger" (click)="deleteClasses()">Conferma</button>
      </div>
    </div>
  </div>
</div>

