h1 {
  font-size: 24px;
  font-weight: bold;
  color: darkorange;
  text-align: center;
  margin-top: 20px;
}
.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .form-group {
    margin-right: 10px;
  }

  .form-control {
    width: 200px;
    border-radius: 4px;
  }
}

.table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  tfoot td {
    padding: 0;
  }
}

.float-end {
  float: right;
}

.input-row {
  display: flex;
  align-items: center;

  .btn-group {
    margin-left: 10px;
  }
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.bi {
  vertical-align: middle;
}

.table th.checkbox-header,
.table td.checkbox-cell {
  width: 50px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.input-row {
  margin-left: 10px; /* Aggiusta il margine a sinistra come desiderato */
}
