<h1>BLAISE PASCAL</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Numero</th>
      <th scope="col">
        Classe
        <span class="float-end">
          <i class="bi bi-sort-alpha-down" (click)="ordinaClassi()"></i>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let classe of classiQuarte; let i = index" (click)="visualizza(classe, i)">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ classe.name }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="isClasse">
  <app-classe [classeS]="classeSelezionata"></app-classe>
</div>

<app-input-crea-classe></app-input-crea-classe>



