table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}


.selected-classe {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
}

a {
  display: inline-block;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #f2f2f2;
  border-radius: 3px;
}

a:hover {
  background-color: #ddd;
}

/* Stili per l'elemento router-outlet */
router-outlet {
  margin-top: 20px;
}
