<h1>TUTTE LE CLASSI</h1>

<div class="search-form">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" placeholder="Cerca" (input)="performSearch()" />
    </div>
  </form>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">
        Classe
        <span>
          <i class="bi bi-sort-alpha-down" (click)="ordinaClassi()"></i>
        </span>
        <span class="float-end">
          <app-input-crea-classe></app-input-crea-classe>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let classe of filteredArray; let i = index" (click)="visualizza(classe, i)">
      <td>{{ classe.name }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3"></td>
    </tr>
  </tfoot>
</table>

<div *ngIf="isClasse">
  <app-classe></app-classe>
</div>
