<table>
      <tr>
          <th>Numero</th>
          <th>Classe</th>
      </tr>
      <tr *ngFor="let classe of classiQuarte; let i = index" (click)="visualizza(classe, i)">
            <td>{{ i + 1 }}</td>
            <td>{{ classe.name }}</td>
        </tr>

  </table>
<div *ngIf="isClasse">
  <app-classe [classeS]="classeSelezionata" ></app-classe>
</div>
<a routerLink="creaclasse">crea classe</a>
<a routerLink="creastudente">crea studente</a>
<a routerLink="modificastudente">modifica studente</a>
<a routerLink="eliminastudente">elimina studente</a>

<router-outlet></router-outlet>
