<div *ngIf="studentiClasse.length !== 0; else noStudenti" class="studenti-container">
  <h1>{{ classe.name }}</h1>

  <div class="search-form d-flex align-items-center mb-4">
    <form class="form-inline row w-100">
      <div class="form-group col-lg-6 col-md-1 col-sm-1">
        <input type="text" class="form-control" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" placeholder="Cerca" (input)="performSearch()" />
      </div>

      <div class="col-lg-2 col-md-3 col-sm-6">
        <div *ngIf="selectedStudents.length > 0" >
          <app-input-elimina-studente (buttonClick)="clickModificaa(null)"></app-input-elimina-studente>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="input-row">

        </div>
      </div>


      <div class="col-lg-2">
        <div class="input-row">
          <app-input-nuovo-studente class="x" [classeFrequentata]="classe.name" (buttonClick)="modalChiuso()"></app-input-nuovo-studente>
        </div>
      </div>





    </form>
  </div>


  <div class="mat-elevation-z8">
    <div class="table-container">
  <table class="table table-striped">
    <thead style="height: 55px;">
      <tr>
        <th>
          <label>
            <div class="d-flex align-items-center">
              <input type="checkbox" [(ngModel)]="isSelected"  (click)="gestisciSelezioneTutti()">
            </div>
          </label>
        </th>


        <th>Nome<i [class]="ord1" (click)="ordinaN()"></i></th>
        <th>Cognome<i [class]="ord2" (click)="ordinaC()"></i></th>
        <th>Data di nascita<i [class]="ord3" (click)="ordinaDN()"></i></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of s">
        <td>
          <input type="checkbox" [(ngModel)]="item.selected" (change)="toggleStudentSelection(item)">
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.surname }}</td>
        <td>{{ item.birthDate }}</td>
        <td></td>
        <td>
          <label>
            <div class="d-flex">
              <div class="ml-auto">
                <app-input-update-studente (buttonClick)="clickModifica(item)"></app-input-update-studente>
              </div>
            </div>
          </label>
          <label>
            <div class="d-flex">
              <div class="ml-auto">
                <app-input-elimina-studente (buttonClick)="clickModificaa(item)"></app-input-elimina-studente>
              </div>
            </div>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <mat-paginator [length]="filteredArray.length"
[pageSizeOptions]="[5, 10]"
showFirstLastButtons
aria-label="Select page of periodic elements"
(page)="onPageChange($event)">
</mat-paginator>
</div>
</div>

<ng-template #noStudenti>
  <p class="no-studenti">In questa classe non sono presenti studenti.</p>
  <div class="center-container">
    <app-input-nuovo-studente [classeFrequentata]="classe.name" (buttonClick)="modalChiuso()"></app-input-nuovo-studente>
  </div>
</ng-template>



<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="mAC">
  <div class="modal-dialog centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between align-items-start">
        <h2 class="modal-title">Aggiorna i dati di uno studente</h2>
        <button type="button" class="close" (click)="closeModale()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="studenteA">
          <h3>{{ studenteA.name }} {{ studenteA.surname }}  {{ studenteA.birthDate }}</h3>
          <!-- Altri elementi del template -->
        </div>
        <h3>studente aggiornato</h3>
        <div class="form-group">
          <label for="className">nome studente aggiornato</label>
          <br>
          <input type="text" class="form-control" id="className" [(ngModel)]="studenteB.name" >
          <br>
          <label for="className">cognome studente aggiornato</label>
          <br>
          <input type="text" class="form-control" id="className" [(ngModel)]="studenteB.surname" >
          <br>
          <label for="className">classe studente aggiornata</label>
          <br>
          <input type="text" class="form-control" id="className" [(ngModel)]="studenteB.classe" >
          <br>
          <label for="className">data nascita studente aggiornata</label>
          <br>
          <input type="text" class="form-control" id="className" [(ngModel)]="studenteB.birthDate" >
          <br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveClass()">Salva</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="mEC">
  <div class="modal-dialog centered" role="document">
    <div class="modal-content">
      <div class="modal-header  d-flex justify-content-between align-items-start">
        <h2 class="modal-title">Elimina studenti</h2>
          <button type="button" class="close" (click)="closeModale()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="search-form">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control"  [(ngModel)]="searchQueryy" [ngModelOptions]="{standalone: true}" placeholder="Cerca" (input)="performSearchh()" />
            </div>
          </form>
        </div>
        <div class="table-container">
        <table class="table student-table">
          <thead>
            <tr>

              <th>Nome</th>
              <th>Cognome</th>
              <th>Data di nascita</th>
              <th>Classe</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of filteredArrayy">
              <td>{{ student.name }}</td>
              <td>{{ student.surname }}</td>
              <td>{{ student.birthDate }}</td>
              <td>{{ student.classe }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-danger" (click)="deleteStudents()">Conferma</button>
      </div>
    </div>
  </div>
</div>




