$search-form-bg-color: #f8f9fa; // Colore di sfondo per il form di ricerca
$primary-color: #007bff; // Colore primario
$success-color: #28a745; // Colore di successo
$modal-bg-color: #28a745; // Colore di sfondo per il modal

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-top:20px;
  margin-left:20px
}

.search-form {
  background-color: $search-form-bg-color;
  padding: 15px;

  form {
    .form-group {
      margin-bottom: 0;
    }
  }
}

.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    background-color: $success-color;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    border: none;

    i {
      margin-right: 5px;
    }
  }
}

.table-container {
  max-height: 250px;
  overflow-y: auto;

  .table {
    height: 100px;
  }
}


.mat-elevation-z8 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-top: 15px;


}

.no-studenti {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}




