<div *ngIf="studentiClasse.length !== 0; else noStudenti" class="studenti-container">
  <h1>{{ classe.name }}</h1>

  <div class="search-form">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" placeholder="Cerca" (input)="performSearch()" />
      </div>
    </form>
  </div>
  <div class="mat-elevation-z8">
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngIf="selectedStudents.length > 0">
          <app-input-elimina-studente [classeFrequentata]="classe.name" [students]="selectedStudents" (buttonClick)="modalChiuso()"></app-input-elimina-studente>
        </th>
        <th *ngIf="selectedStudents.length == 0"></th>
        <th>Nome</th>
        <th>Cognome</th>
        <th class="d-flex align-items-center justify-content-between">
          <span>Data di nascita</span>

          <div class="input-row">
            <app-input-nuovo-studente [classeFrequentata]="classe.name" (buttonClick)="modalChiuso()"></app-input-nuovo-studente>
          </div>
          <div class="input-row">
            <app-input-update-studente [classeFrequentata]="classe.name" (buttonClick)="modalChiuso()"></app-input-update-studente>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of s">
        <td>
          <input type="checkbox" [(ngModel)]="item.selected" (change)="toggleStudentSelection(item)">
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.surname }}</td>
        <td>{{ item.birthDate }}</td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="filteredArray.length"
[pageSizeOptions]="[3, filteredArray.length]"
showFirstLastButtons
aria-label="Select page of periodic elements"
(page)="onPageChange($event)">
</mat-paginator>
</div>
</div>

<ng-template #noStudenti>
  <p class="no-studenti">In questa classe non sono presenti studenti.</p>
  <app-input-nuovo-studente class="x"  [classeFrequentata]="classe.name"></app-input-nuovo-studente>
</ng-template>


