<div *ngIf="studentiClasse.length !== 0; else noStudenti" class="studenti-container">
  <h1>{{ classe.name }}</h1>

  <div class="search-form d-flex align-items-center mb-4">
    <form class="form-inline row w-100">
      <div class="form-group col-lg-6 col-md-1 col-sm-1">
        <input type="text" class="form-control" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" placeholder="Cerca" (input)="performSearch()" />
      </div>

      <div class="col-lg-2">
        <div class="input-row">
          <app-input-nuovo-studente class="x" [classeFrequentata]="classe.name" (buttonClick)="modalChiuso()"></app-input-nuovo-studente>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="input-row">
          <app-input-update-studente class="x" [classeFrequentata]="classe.name" (buttonClick)="modalChiuso()"></app-input-update-studente>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-6">
        <div *ngIf="selectedStudents.length > 0" >
          <app-input-elimina-studente [classeFrequentata]="classe.name" [students]="selectedStudents" (buttonClick)="modalChiuso()"></app-input-elimina-studente>
        </div>
      </div>

    </form>
  </div>


  <div class="mat-elevation-z8">
    <div class="table-container">
  <table class="table table-striped">
    <thead style="height: 55px;">
      <tr>
        <th>
          <label>
            <div class="d-flex align-items-center">
              <input type="checkbox" [(ngModel)]="isSelected"  (click)="gestisciSelezioneTutti()">
            </div>
          </label>
        </th>


        <th>Nome<i [class]="ord1" (click)="ordinaN()"></i></th>
        <th>Cognome<i [class]="ord2" (click)="ordinaC()"></i></th>
        <th>Data di nascita<i [class]="ord3" (click)="ordinaDN()"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of s">
        <td>
          <input type="checkbox" [(ngModel)]="item.selected" (change)="toggleStudentSelection(item)">
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.surname }}</td>
        <td>{{ item.birthDate }}</td>
      </tr>
    </tbody>
  </table>
  </div>
  <mat-paginator [length]="filteredArray.length"
[pageSizeOptions]="[3, filteredArray.length]"
showFirstLastButtons
aria-label="Select page of periodic elements"
(page)="onPageChange($event)">
</mat-paginator>
</div>
</div>

<ng-template #noStudenti>
  <p class="no-studenti">In questa classe non sono presenti studenti.</p>
  <div class="center-container">
    <app-input-nuovo-studente [classeFrequentata]="classe.name" (buttonClick)="modalChiuso()"></app-input-nuovo-studente>
  </div>
</ng-template>


