<div class="container">
  <h1>Benvenuti all'IIS Blaise Pascal</h1>
  <div class="row">
    <div class="col-md-6">
      <img src="https://cercalatuascuola.istruzione.it/cercalatuascuola/render/document/RETL01601C;jsessionid=98s4CW8NzcmrneFnxf3UR7kV.mvlas068_1?codTipFil=8&prgDoc=1&x=" alt="Foto della scuola" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h3>Dati scuola</h3>
      <p>Nome: IIS Blaise Pascal</p>
      <p>Indirizzo: Via Makalle</p>
      <p>Città: Reggio Emilia</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Informazioni</h3>
      <p>Benvenuti sul sito web dell'IIS Blaise Pascal di Reggio Emilia. Siamo una scuola dedicata all'istruzione di qualità, offrendo una varietà di programmi accademici e opportunità di apprendimento. Siamo impegnati a fornire un ambiente stimolante e inclusivo per gli studenti, promuovendo lo sviluppo delle loro competenze e talenti.</p>
      <p>Questo sito è il gestionale di tutte le classi e di tutti gli studenti.</p>
    </div>
  </div>
</div>
