.studenti-container {
  text-align: center;

  h1 {
    font-size: 24px;
    font-weight: bold;
    color: darkorange;
    margin-top: 20px;
  }

  .table {
    margin: auto;
    max-width: 100%; /* Aggiungi questa proprietà per rendere la tabella responsive */
    overflow-x: auto; /* Aggiungi questa proprietà per consentire lo scorrimento orizzontale sulla tabella */
  }

  .custom-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%; /* Imposta la larghezza della tabella al 100% per renderla responsive */

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }
  }
}

.no-studenti {
  text-align: center;
  margin-top: 20px;
  color: darkorange;
  font-weight: bold;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .form-group {
    margin-right: 10px;
  }

  .form-control {
    width: 200px;
    border-radius: 4px;
  }
}

.float-end {
  float: right;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.input-row {
  margin-left: 10px;
}

.first-column {
  width: 50px;
}

@media (max-width: 768px) {
  /* Aggiungi stili specifici per dispositivi con una larghezza massima di 768px */
  .studenti-container {
    h1 {
      font-size: 20px;
    }

    .search-form {
      .form-control {
        width: 150px;
      }
    }
  }

  .custom-table {
    th, td {
      padding: 6px;
    }
  }
}
