<div *ngIf="studentiClasse.length !== 0; else noStudenti" class="studenti-container">
  <h1>TUTTI GLI STUDENTI</h1>

  <div class="search-form d-flex mb-4">
    <form class="form-inline row w-100">
      <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <input type="text" class="form-control" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" placeholder="Cerca" (input)="performSearch()" />
      </div>

      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="input-row">
          <app-input-nuovo-all-studenti class="x"  (buttonClick)="modalChiuso()"></app-input-nuovo-all-studenti>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="input-row">
          <app-input-update-all-studenti class="x"  (buttonClick)="modalChiuso()"></app-input-update-all-studenti>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-6">
        <div *ngIf="selectedStudents.length > 0" >
          <app-input-elimina-all-studenti [students]="selectedStudents" (buttonClick)="modalChiuso()"></app-input-elimina-all-studenti>
        </div>
      </div>


    </form>
  </div>

  <div class="mat-elevation-z8">
    <div class="table-container">
      <table class="table table-striped custom-table">
        <thead style="height: 55px;">
          <tr>
            <th>
              <label>
                <div class="d-flex align-items-center">
                  <input type="checkbox" [(ngModel)]="isSelected"  (click)="gestisciSelezioneTutti()">
                </div>
              </label>
            </th>
            <th>Nome<i [class]="ord1" (click)="ordinaN()"></i></th>
            <th>Cognome<i [class]="ord2" (click)="ordinaC()"></i></th>
            <th >
             Data di nascita<i [class]="ord3" (click)="ordinaDN()"></i></th>
            <th>classe<i [class]="ord4" (click)="ordinaCL()"></i></th>
          </tr>
          <tbody>
              <tr *ngFor="let alunno of studentiVisualizzati">
                  <td class="first-column">
                      <input type="checkbox" [(ngModel)]="alunno.selected" (change)="toggleStudentSelection(alunno)">
                  </td>
                  <td>{{ alunno.name }}</td>
                  <td>{{ alunno.surname }}</td>
                  <td>{{ alunno.birthDate }}</td>
                  <td>{{ alunno.classe }}</td>
              </tr>
          </tbody>
      </table>
    </div>
      <mat-paginator [length]="filteredArray.length"
               [pageSizeOptions]="[5, 10]"
               showFirstLastButtons
               aria-label="Select page of periodic elements"
               (page)="onPageChange($event)">
</mat-paginator>
  </div>
</div>
<ng-template #noStudenti>
  <p class="no-studenti">Non sono presenti studenti</p>
</ng-template>

