<div *ngIf="studentiClasse.length !== 0; else noStudenti" class="studenti-container">
  <h1>{{classe.name}}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Data di nascita</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alunno of studentiClasse">
        <td>{{ alunno.name }}</td>
        <td>{{ alunno.surname }}</td>
        <td>{{ alunno.birthDate }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noStudenti>
  <p class="no-studenti">In questa classe non sono presenti studenti.</p>
</ng-template>

<table class="tabella">
  <tr>
    <td class="a"><app-input-nuovo-studente [classeFrequentata]="classe.name"></app-input-nuovo-studente></td>
    <td class="a"><app-input-update-studente [classeFrequentata]="classe.name"></app-input-update-studente></td>
    <td class="a"><app-input-elimina-studente [classeFrequentata]="classe.name"></app-input-elimina-studente></td>
  </tr>
</table>
