<div *ngIf="studentiClasse.length !== 0; else noStudenti" class="studenti-container">
  <h4>Alunni</h4>
  <table>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Data di nascita</th>
    </tr>
    <tr *ngFor="let alunno of studentiClasse">
      <td>{{ alunno.name }}</td>
      <td>{{ alunno.surname }}</td>
      <td>{{ alunno.birthDate }}</td>
    </tr>
  </table>
</div>

<ng-template #noStudenti>
  <p class="no-studenti">In questa classe non sono presenti studenti.</p>
</ng-template>
