<div class="circle-button">
  <button type="button" class="btn btn-primary" (click)="openModal()">
    <i class="bi bi-plus"></i>
  </button>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Crea Nuova Classe<button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button></h2>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="className">Nome Classe</label>
          <br>
          <input type="text" class="form-control" id="className" [(ngModel)]="classe.name" >
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveClass()">Salva</button>
      </div>
    </div>
  </div>
</div>
